html {
  background-image: radial-gradient(beige, darkolivegreen)
}

.colorful{
  color:navajowhite;
}
h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  font-family: verdana;
}

ul {
   display:table;
   margin: 0 auto;
}

#link {
  text-decoration: underline;
  text-decoration: blanchedalmond;
}
/* text-align: center
font-size: 50px
font-family: monospace
font-weight: bold
color: blueviolet
text-decorator: underline
text-decoration-color: red

background-image: linear-gradient(green, blue)
background-repeat: no-repeat
background-image: radial-gradient(white, aqua) */